extends ../layout

block content
    h1.
        ID: #{toilet._id}
    p Name: #{toilet.name}
    p Rating: #{toilet.rating}
    p Posted by: #{toilet.who}
    p Date: #{toilet.date}
    p Longitude: #{toilet.long}
    p Latitude: #{toilet.lat}
