extends ../layout

block content
  - var url = user.picture
  .container.user-bg
    .row
      .col-lg-6.col-xs-6
        img.profile-img(src=url)
      .col-lg-6.col-xs-6
        a.btn.btn-danger.pull-right(href='/logout') Logout
      .col-lg-12.text-center.clear 
        h2 Hey #{user.nickname}!
        a.new-toilet.btn.btn-success(href='/user/new') NEW BATHROOM 
        br
        br
        .col-lg-8.col-lg-offset-2
          each toilet in toilets
            br
            .row.toilet-card
              .col-lg-12
                br
                h4= toilet.name 
                - var friends = toilet.rating
                case friends
                  when 0: p This toilet sucks
                  when 1: p.star ★
                  when 2: p.star ★ ★ 
                  when 3: p.star ★ ★ ★ 
                  when 4: p.star ★ ★ ★ ★ 
                  when 5: p.star ★ ★ ★ ★ ★ 
                  default: p No ratings
                p= 'Reviewer: ' + toilet.who
                p= 'Date: ' + moment(toilet.date).format('MMM D, YYYY')
                p= 'Coordinates: (' + toilet.long + ', ' + toilet.lat + ')'
                a.btn.btn-default(href='/user/' + toilet._id + '/edit') Edit 
                | 
                a.btn.btn-default(href='/user/' + toilet._id) Map 
                | 
                form.delete-but(action='/user/' + toilet._id + '/edit',method='post',enctype='application/x-www-form-urlencoded')
                  input(type='hidden',value='DELETE',name='_method')
                  button.btn.btn-danger(type='submit').
                      X
